.Backct {
    position: absolute;
    width: 1500px;
    height: 750px;
    text-align: center;
    background: white;
    border-radius: 30px;
    opacity: 0.9;

    margin: 120px 235px 50px 250px;
};