
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap&subset=korean');


@keyframes fadein {
    from {opacity: 0;}to{opacity: 1; visibility: visible;};
}


ul,ol {
    list-style: none;
};

.Frontct {

    font: normal 18px 'Roboto', 'Noto Sans KR';
	line-height: 1;

    position: absolute;
    width: 1500px;
    height: 2000px;
    background-color: #ffffff;
    background-color: rgba( 82, 82, 82, 0.6 );
    border-radius: 30px;
    

    margin: 40px 235px 50px 250px;
};

.Toptext {
    animation: fadein 2s;
    font-weight: bold;
    color: white;
    margin: 50px 10px 10px 50px ;

    ::after {
        position: absolute; top: 65px; left: 390px; right: 50px; content: ''; height: 3px; background-color:white;
    };
};



.Frontinfo > li {
    display: flex;
    margin: 80px 150px 100px 80px;
    width: 1340px;
    height: 500px;

    img {
        margin-top: 10%;
        width: 100%;

    };
};
.Frontinfo > li .imgsec {width: 30%;visibility: hidden;animation: fadein 2s;animation-fill-mode: forwards;animation-delay: 1s;}
.Frontinfo > li:nth-child(odd) .imgsec {margin-right: 8%;}
.Frontinfo > li:nth-child(even) .imgsec {margin-left: 1%; order: 2;}


.Frontinfo > li .textsec {width: 70%; margin-left: 30px;visibility: hidden;animation: fadein 2s;animation-fill-mode: forwards;animation-delay: 2s;}
.Frontinfo > li .textsec > h1 {color: white; font-weight: 700; margin-top:8%}
.Frontinfo > li .textsec > p {color: white; font-weight: 200; margin-top: 10%;font-size: 20px;}
