.Mainct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(
        to left,
        rgba(20, 20, 20, 0.1) 10%,
        rgba(20, 20, 20, 0.7) 70%,
        rgba(20, 20, 20, 1)
      ),
    url(https://source.unsplash.com/random/1920x1080);
    background-size: cover;
};

.Topnav {
    height: 50px;
    padding: 20px;
    color: none;
    background: none;
    font-weight: bold;
    display: flex;
    align-items: center;

    :link {
        text-decoration: none;
        justify-content: center;
        align-items: center;
        color: gray;        
        margin-right: 320px;
        font-size: 20px;
        &:hover {
            color: white;
        }
    }
};


.sec1 {
    height: 50;
    width: 400px;
    padding-right: 100px;
    h1 {
        margin-left: 40px;
        font-size: 65px;
        color: burlywood;
        
    }  
}

.logos {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background: none;
    text-align: center;
    color: white;

    img {
        width: 70%;
    }
};

.sidebar {
    color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
    border: 2px solid red;
    width: 150px;
    height: 600px;
    margin: 30px 0px 0px 30px;
    
    span {
        border: 1px solid yellow;
        display: flex;
        vertical-align: middle;
        text-align: center;
        justify-content: center;
        &:hover {
            color: gray;
        }

        margin: 180px 10px 0px 10px ;
        };
};
