

.logos {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background: none;
    text-align: center;
    color: white;

    img {
        margin-top: -20px ;
        width: 83%;
    }
};

.slideBox {
    border: 2px solid red;
    width: 1200px;
    height: 680px;
    margin: 0 360px 0 360px;

};