.memberct {
};

.Han {
    position: absolute;
    text-align: center;
    width: 600px;
    height: 700px;
    border-radius: 30px;
    margin: 150px 0px 0px 280px;
    background: white;
};

.Sung {
    position: relative;
    text-align: center;
    float: right;
    width: 600px;
    height: 700px;
    border-radius: 30px;
    margin: 150px 280px 0px 100px;
    background: white;
};

img {
    width: 30%;
    border-radius: 20px;
    margin-top: 30px;
};

h2 {
    font-weight: bold;
};